.bar {
  background-color: transparent;
}
.wizardDateTime {
  font-family: serif;
}
.schinDigHome {
  position: fixed;
  margin-left: 220px;
}
.shrinkHead{
  height: 0px;
}
.wizard {
  font-family: "Showboat" serif;
  background-color: #F0EAD6;
  text-transform: uppercase;
  ion-google-place {
    background-color: white;
  }
  .button {
    font-family: "Showboat";
    font-size: 2rem;
    background-color: #680E34;
    text-transform: uppercase;
    color:white;
  }
  .button-small {
    font-size:1.2rem;
  }
//THIS IS FOR DROPDOWNS
  select {
    font-family: "Showboat";
    text-transform: uppercase;
    background-color: #F0EAD6;
  }
  input {
    background-color: #F0EAD6;
    font-family: "Showboat";
    text-transform: uppercase;
  }

  .item-input {
    font-family: "Showboat";
    background-color: #F0EAD6;
    text-transform: uppercase;
    input {
      font-family: "Showboat";
      text-transform: uppercase;
      background-color: #F0EAD6;
    }
    .wizardDateTime {
      color: gray;
      text-transform: uppercase;
    }
  }
  .item {
    font-family: "Showboat";
    background-color: #F0EAD6;
  }
  .wizStretchExpl {
    text-align: center;
    font-family: "Showboat";
    font-size: .85rem;
    color:black;

    span {
      font-family: "Showboat";
      font-size: .85rem;
      color:black;
      text-align: center;
    }
  }
  progress{
    appearance:none;
    -webkit-appearance:none;
    border-radius: 30px;
    width:300px;
    height:20px;
  }
  progress[value]{

  }
}

.wizardHeader {
  border:none;
  background-image: url("../img/wineandcheese.jpg");
  background-size: 125%;
  background-repeat: none;
  background-position: center;
  background: linear-gradient(rgba(#0b0b0b, 0.49));
  display: flex;
  width:100%;
  h1 {
    margin: 0;
    text-align: center;
    border:none;
    align-self: center;
    justify-content: center;
  }
  .wizardTextViewHeader {
    letter-spacing: 5px;
    font-family: "Showboat";
    font-size: 2rem;
    color:white;
    margin: 0;
  }
}
