$Brown: #594544;
$Gold: #FFB312;
$Pink: #FF66A6;
$DullPink: #E26291;
$Green: #C1C71F;
$Blue: #00B3A0;
$Yellow: #FAF700;
$DullYellow: #dfd823;
$Orange: #F63B09;
$Red: #F60024;
$PinkFire: #F7007B;
$White: #e0e0e0;
$Cream: #dddcbe;
$LightOrange: #DD7A14;
$DullRed: #cb2d2d;
.submitFavorsButton{
  text-align: center;
}
.manageParty {
  display: flex;
  background-color: $Cream;
  background-size: 100%;
  background-position: top;
  font-style: "Righteous";
  .bar-height {
    height:130px;
  }
  .bar-header{
    height: 130px;
  }
  .inviteMore{
    text-align: center;
  }
  .title{
    height:130px;
    .title-center{
      height:130px;
      .header-item {
        height:130px;
      }
    }
  }
  .list {
    .item {
      border: 5px, solid, white;
    }
  }
  .managePartyHeader {
    display: flex;
    width:100%;
    text-align: center;
    background-color: $Brown;
    h1 {
      margin: 0;
      text-align: center;
      border:none;
      align-self: center;
      justify-content: center;
      font-size: 2.5rem;
      color: $Yellow;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 8%;
      text-shadow:   -7px 5px 1px $Gold,
                     -14px 10px 1px $Orange,
                     -21px 15px 1px $Red,
                     -28px 20px 1px $PinkFire,
      }
    }

  .managePartyContent{
    border-top: thin solid gray;
    input{
      font-size: 1.2rem;
      padding:8px;
      height: 6vh;
      width: 100%;
      background-color: $Cream;
      border-radius: 10px;
    }
    .item{
      background-color: $LightOrange;
      border-radius: 10px;
      font-style: "Righteous";
      padding-bottom: 0;
    }

    .manageItem{
      background-color: $Brown;
      border:solid $Pink 4px;
      box-shadow:   -4px -4px 4px 5px $Blue,
                    4px 4px 4px 5px $Blue,
                    -6px -6px 4px 8px $Green,
                    6px 6px 4px 8px $Green;
      border-radius: 10px;
      padding:20px;
      padding-right: 35px;
      color: $Cream;
      font-size: 1.2rem;
      justify-content: center;
      font-family: "Righteous";
      margin-bottom: 8%;
        }
        .guestList{
          margin-top: 5%;
          background-color: $Cream;
          border:solid $Pink 4px;
          box-shadow:   -4px -4px 4px 5px $Blue,
                        4px 4px 4px 5px $Blue,
                        -6px -6px 4px 8px $Green,
                        6px 6px 4px 8px $Green,
                        -8px 8px 4px 8px $LightOrange,
                        8px -8px 4px 8px $LightOrange;

          border-radius: 20px;
          padding:20px 10px;
          display: flex;
          justify-content: center;
          margin-bottom: 14%;
          height:auto;
          .item {
            padding:0;
          }
          div {
            height: 3vh;
            display: flex;
            align-self: center;

          }
          #invName {
            padding-top: 4%;
            color: $Brown;
            font-weight: bold;
            font-size: 1.8rem;
            font-family: "Righteous";
            align-self: center;
            border-bottom: solid 2px;
            padding-bottom: 4%;
            text-decoration: overline;;
          }
          #invRSVP {
            margin:0;
            padding:0;
            color: $Brown;
            text-shadow:   -2px 1px 1px $Green,
                           -5px 3px 1px $LightOrange,
                           -6px 8px 1px $DullRed;
            font-size: 1.8rem;
            font-family: "Righteous";
            align-self: center;
            padding-bottom: 2%;
          }
        }
        .ion-minus-circled {
          background-color: $DullPink;
        }
        .item-content {
          background-color: #dfd823;
          color:$Brown;
          padding:5px;
          border-radius: 10px;

          span {
            padding:5px;
          }
        }
    .-icon{
      padding-bottom: 12%;
    }
    .button-bar {
      padding:1px;
      padding-bottom: 1px;
      margin-bottom: 5%;
      height:15vh;
      display: flex;
      align-items: center;
      background-color:$LightOrange;
      border-radius: 15px;
      text-align: center;
      flex-wrap: wrap;
    }
    .manageButton{
      border-radius: 20px;
      background-color: $Brown;
      color: $DullYellow;
      font-size: 1.4rem;
      text-shadow: -2px 2px 0px $DullPink;
      height:12vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    .goHomeButtonBar{
      margin: 0 auto;
    }
    .submitFavorButtonBar{
      margin: 0 auto;
      margin-top: -7px;
      margin-bottom: 18px;
    }
    .manageButtonBar{
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .inviteButton{
      border-radius: 20px;
      border:solid $LightOrange 3px;
      background-color: $Brown;
      color: $DullYellow;
      font-size: 1.4rem;
      text-shadow: -2px 2px 0px $DullPink;
      height:12vh;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .button-full{
      text-align: center;
    }
    .button-small {
      text-align: center;
      border-radius: 20px;
      border:solid $LightOrange 3px;
      background-color: $Brown;
      color: $DullYellow;
      font-size: 1.3rem;
      text-shadow: -2px 2px 0px $DullPink;
      height:12vh;
      display: flex;
      text-align: center;
    }
  }
  ion-item{
    margin: 0;
  }
  h1{
    display: flex;
    flex-wrap: nowrap;
  }
  ion-item{
    margin-bottom: 4%;
  }
  .card {
    border-radius: 10px;
    .item {
      background-color: $Brown;
      border:solid $Pink 4px;
      box-shadow:   -4px -4px 4px 5px $Blue,
                    4px 4px 4px 5px $Blue,
                    -6px -6px 4px 8px $Green,
                    6px 6px 4px 8px $Green;
      border-radius: 10px;
      padding:20px;
      padding-right: 16%;
      color: $Cream;
      font-size: 1.2rem;
      justify-content: center;
      font-family: "Righteous";
    }
    .item-content{
      background-color: $Gold;
      padding-right: 20px;
      border-radius: 20px;
    }
    h3 {
      background-color: $DullYellow;
      text-align: center;
      border-radius: 20px;
      font-size: 1.3rem;
      padding:5px;
      color:$DullRed;
    }
    p {
      font-family: "Righteous";
      font-size: 1.1em;
      font-weight: bold;
      padding:2px;
      color:$Cream;
    }
  }
}
