$Brown: #594544;
$Gold: #FFB312;
$Pink: #FF66A6;
$Green: #C1C71F;
$Blue: #00B3A0;
$Yellow: #FAF700;
$Orange: #F63B09;
$Red: #F60024;
$PinkFire: #F7007B;
$White: #e0e0e0;
$Cream: #dddcbe;
$LightOrange: #DD7A14;

.manageParty {
  display: flex;
  background-color: $Cream;
  background-size: 100%;
  background-position: top;
  font-style: "Righteous";

  .list {
    .item {
      border: 5px, solid, white;
    }
  }
  .managePartyHeader {
    display: flex;
    width:100%;
    text-align: center;
    background-color: $Brown;
    h1 {
      margin: 0;
      text-align: center;
      border:none;
      align-self: center;
      justify-content: center;
      font-size: 2.75rem;
      color: $Yellow;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 8%;
      text-shadow:   -7px 5px 1px $Gold,
                     -14px 10px 1px $Orange,
                     -21px 15px 1px $Red,
                     -28px 20px 1px $PinkFire,
      }
    }

  .managePartyContent{
    border-top: thin solid gray;
    input{
      font-size: 1.2rem;
      padding:8px;
      height: 6vh;
      width: 100%;
      background-color: $Cream;
      border-radius: 10px;
    }
    .item{
      background-color: $LightOrange;
      border-radius: 10px;
      font-style: "Righteous";

    }
    .manageItem{
      background-color: $Brown;
      border:solid $Pink 4px;
      box-shadow:   -4px -4px 4px 5px $Blue,
                    4px 4px 4px 5px $Blue,
                    -6px -6px 4px 8px $Green,
                    6px 6px 4px 8px $Green;
      border-radius: 10px;
      padding:20px;
      padding-right: 35px;
      color: $Cream;
      font-size: 1.2rem;
      justify-content: center;
      font-family: "Righteous";
        }
    .button-icon{
      padding-bottom: 12%;
    }
    .manageButton{
      border-radius: 10px;
      background-color: #78C0A8;
      color: #FCEBB6;
      font-size: 1.3rem;

    }
    .inviteButton{
      border-radius: 20px;
      background-color: #FCEBB6;
      color: #78C0A8;
      font-size: 1.3rem;
    }
  }
  ion-item{
    margin: 0;
  }
  h1{
    display: flex;
    flex-wrap: nowrap;
  }
  ion-item{
    margin-top: 15px;
  }
  .card {
    border-radius: 10px;
    .item {
      background-color: $Orange;
      border-radius: 15px;
      background-color: $Brown;
      border:solid $Pink 4px;
      box-shadow:   -4px -4px 4px 5px $Blue,
                    4px 4px 4px 5px $Blue,
                    -6px -6px 4px 8px $Green,
                    6px 6px 4px 8px $Green;
      border-radius: 10px;
      padding:20px;
      padding-right: 35px;
      color: $Cream;
      font-size: 1.2rem;
      justify-content: center;
      font-family: "Righteous";
    }
    .item-content{
      background-color: $Gold;
      padding-right: 20px;
    }
    h3 {
      background-color: $Green;
      text-align: center;
      border-radius: 20px;
      font-size: 1.3rem;
      padding:5px;
      color:black;
    }
    p {
      font-family: "Righteous";
      font-size: 1.3em;
      font-weight: bold;
      padding:2px;
      color:$Cream;
    }
  }
}
