.manageParty {


  ///////////MANAGE INVITES///////
  .manageHostedInvites{
    ion-list{
      .item{
        text-align: center;
        background-color: red;
      }
      ion-item{
        h3{
          color: black;
        }
      }
      .invitesSub{
        h3{
          color: blue;
          text-align: center;
        }
        background-color: orange;
      }
    }
  }






  ///MANAGE BROWSE PARTIES////
  .manageBrowseFavor{
    .topListButtonAndLabel{
      display: flex;
      .addFavorToDataButton{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        margin-top: 5px;
      }
      input{
        text-align: center;
      }
    }
    .submitFavorsButton{
      display: flex;
      button{
        margin: 0 auto;
        width: 90%;
        border-radius: 10px;
      }
      margin-bottom: 10px;
    }
    .favorsList{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .favorItem{
        margin: 0 auto;
        margin-bottom: 10px;
        background-color: blue;
        justify-content: center;
        align-items: center;

        .item-content{
          margin: 0;
          text-align: center;
          ion-item{
            background-color: red;
            text-align: center;
            margin: 0;
          }
        }
      }
    }
  }


  //////////

  .bar {
    height: 50px;
    .title {
      font-size: 40px;
      font-family: 'Acme', sans-serif;
      margin: 0;
    }
  }
  .addFavorButton{
    position: relative;
    z-index: 100;
  }
  display: flex;
  background:
  linear-gradient(
     rgba(0, 0, 0, 0.1),
     rgba(0, 0, 0, 0.2)
   ),
   url("../img/manageParty1.jpg");
  background-size: 100%;
  background-position: top;
  .managePartyHeader {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    h1 {
      color: #FBDE03;
      margin-bottom: 20px;
    }
  }
  .managePartyContent{
    margin-top: 90px;
    border-top: thin solid gray;
    input{
      height: 50px;
      width: 100%;
    }
    .item{
      background-color: #5E412F;
      border-radius: 15px;
    }
    .manageItem{
      background-color: #FCEBB6;
      border-radius: 10px;
      padding: 10px;
      padding-right: 35px;
    }
    .button-icon{
      bottom: 20px;
    }
    .manageButton{
      border-radius: 20px;
      background-color: #78C0A8;
      color: #FCEBB6;
    }
    .inviteButton{
      border-radius: 20px;
      background-color: #FCEBB6;
      color: #78C0A8;
    }
  }
  ion-item{
    margin: 0;
  }
  h1{
    display: flex;
    flex-wrap: nowrap;
  }
  ion-item{
    margin-top: 15px;
  }
  .card {
    border-radius: 10px;
    .item {
      background-color: #E7450D;
      border-radius: 15px;
    }
    .item-content{
      background-color: #FBDE03;
      padding-right: 20px;
    }
    h3 {
      background-color: #FBDE03;
      text-align: center;
      border-radius: 20px;
    }
    p {
      font-family: "Righteous";
      font-size: 1.2em;
      padding:2px;
      color:rgba(#ffffff, 0.9);
    }
  }
}
