<ion-view>
  <ion-content ng-init=disableKeyBoardScroll() class="login">
      <div class="logo">
        <img src="img/schindigfont.png" alt="">
        <img class="logoImg" src="img/SchindigLogo.png" alt="">
      </div>
      <div class="list loginStuff">
        <label class="item item-input">
          <input class="userNameAndPassword" ng-model="username" type="text" placeholder="Username"></input>
        </label>
        <label class="item item-input">
          <input class="userNameAndPassword" ng-model="password" type="password" placeholder="Password"></input>
        </label>
      </div>
      <div class="buttonStuff">
        <button
          ng-click="login(username, password)"
          class="button button-full">
           Login
        </button>
        <button
          ng-click="signUp()"
          class="button button-full">
          Create New User
        </button>
      </div>
  </ion-content>
</ion-view>
