<ion-view class="manageParty">
  <ion-nav-bar>
  </ion-nav-bar>
  <div class="bar bar-header">
    <div class="managePartyHeader">
      <h1 class="title-text-wrap"><span class="managePartyHeader">Let's Manage Parties</span></h1>
    </div>
  </div>
   <ion-content class="managePartyContent manageHostedInvites" ng-init="loadInvitedPeople();loadOne();">
     <div class="button-bar">
       <button
         class="button button-small"
         ng-click="showGuestList();loadInvitedPeople();getOneHostedParty();">
        GUEST LIST
       </button>
       <button
         ng-click="showInvite()"
         class="button button-small">
         Invite More
       </button>
     </div>
    <ion-list
      ng-show="showGuestListVar">
      <ion-item class ="guestList" ng-repeat="invite in inviteList">
        <div class="row center">
          <div class="col">
            <span id="invName">{{invite.name}}</span>
          </div>
          <div>
            <span id="invRSVP">{{invite.rsvpStatus}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-list
      ng-show="showInviteVar">
      <div ng-controller="ContactsController">
        <div ng-init="getContactList()">
          <div class="button-bar">
            <button
              ng-click="pushToContactArray();showConfirm();showGuestList();"
              class="button-small button-full">
              SEND INVITES
            </button>
          </div>
          <ion-item class ="guestList item-icon-right" ng-click="isChecked = !isChecked" ng-repeat="item in contactName | orderBy: 'name'">
            <div class="row center">
              <div ng-model="isChecked" ng-class="isChecked ? 'true' : 'false'" id="{{item}}" class="col">
                <span id="invName">{{item.name}}</span>
                <span ng-show="isChecked"><i class="icon ion-ios-checkmark-outline"></i></span>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>
   </ion-content>
 </ion-view>
