<ion-view ng-init="loadOneFavor()">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Let's Manage Favors</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus"
          ng-click="data.showDelete = !data.showDelete"></button>
      </div>
   </div>
   <ion-content >
     <div class="list" >
       <div class="item item-input-inset">
         <button
           ng-click="goToFavorBrowse();"
           class="button button-full button-assertive">
           Add More Favors
         </button>
       </div>
     </div>
    <ion-list ng-repeat="item in onePartyFavor" show-delete="data.showDelete">
      <ion-item>
        {{item.favor.favorName}}
        <ion-delete-button
            class="ion-minus-circled"
            ng-click="onItemDelete(item)">
        </ion-delete-button>
        <div ng-show='{{item.claimed}}' class="item">
          Claimed by: {{item.user.username}}
        </div>
      </ion-item>
    </ion-list>
   </ion-content>
 </ion-view>
