<ion-view class="manageParty" ng-init="loadOneFavorBrowse()">
    <div class="bar managePartyHeader">
        <h1>CHECK/UNCHECK YOUR FAVORS</h1>
     </div>
     <ion-content class = "managePartyContent manageBrowseFavor">
      <ul class="list">
        <div class="list topListButtonAndLabel">
          <div class="item">
            <label class="topListLabel item-input-wrapper">
              <input
                ng-model="favorDoo"
                type="text"
                placeholder="Add Your Own">
            </label>
            <button
              ng-click="addFavorToData(favorDoo);"
              class="addFavorToDataButton button button-small ">
              Submit new Favor
            </button>
          </div>
        </div>
        <div class="submitFavorsButton">
          <button
            ng-click="pushToFavorArray();loadOneFavorBrowse();goBackToManage();"
            class="addFavorButton button button-full button-positive">
            SUBMIT YOUR NEW FAVORS
          </button>
        </div>
        <div class="favorsList">
          <ion-checkbox
            ng-repeat="item in browseFavors | filter: favorDoo"
            ng-click="favorCheck = !favorCheck"
            class="favorItem">
            <ion-item
              ng-model="favorCheck"
              id="{{item}}"
              ng-class="favorCheck ? 'yes' : 'no'">
              {{item.favorName}}
            </ion-item>
          </ion-checkbox>
        </div>
      </ul>
    </ion-content>
</ion-view>
