<ion-view class="manageParty">
  <ion-nav-bar>
  </ion-nav-bar>
    <div class="bar bar-header">
      <div class="managePartyHeader">
        <h1 class="title-text-wrap"><span class="managePartyHeader">Let's Manage Parties</span></h1>
      </div>
    </div>
  <ion-content class="managePartyContent" ng-init="loadOne()">
    <div class="manageButtonBar button-bar">
      <button
        ng-click="goToManageFavor()"
        class="button manageButton">
        Favors
      </button>
      <button
        ng-click="goToManageInvites()"
        class="button inviteButton">
        Invites
      </button>
    </div>
    <ion-list>
      <ion-item>
        <div ng-show="!edit" class="item-icon-right manageItem">
            <strong>Name: <br></strong>{{oneParty.partyName}}
            <button
              ng-hide="edit"
              ng-click="edit = true"
              class="button-icon icon ion-ios-compose-outline">
            </button>
        </div>
        <div ng-show="edit" class="item-icon-right manageItem">
          <input
          class="inputField"
            type="text"
            ng-model="partyName"
            ng-change='getNameValue(partyName)'
            placeholder="{{oneParty.partyName}}">
            <button
              ng-click="edit = false; editData(partyName, description, local, themeVal, doggy, parking, partyDate);"
              class="button-icon icon ion-ios-checkmark">
            </button>
        </div>
      </ion-item>
      <ion-item>
        <div ng-show="!edit" class="item-icon-right manageItem item-text-wrap">
            <strong>Description: <br></strong>{{oneParty.description}}
            <button
              ng-hide="edit"
              ng-click="edit = true"
              class="button-icon icon ion-ios-compose-outline">
            </button>
        </div>
        <div ng-show="edit" class="item-icon-right manageItem">
          <input
            type="text"
            ng-model="description"
            ng-change='getDescriptionValue(description)'
            placeholder="{{oneParty.description}}">
            <button
              ng-click="edit = false; editData(partyName, description, local, themeVal, doggy, parking, partyDate);"
              class="button-icon icon ion-ios-checkmark">
            </button>
        </div>
      </ion-item>
      <ion-item>
        <div ng-show="!edit" class="item-icon-right manageItem">
            <strong>Location: <br></strong><div class="item-text-wrap">{{oneParty.local}}</div>
            <button
              ng-hide="edit"
              ng-click="edit = true"
              class="button-icon icon ion-ios-compose-outline">
            </button>
        </div>
        <div ng-show="edit" class="item-icon-right manageItem">
          <ion-google-place placeholder= "Address, Zip" ng-model="local"></ion-google-place>
            <button
              ng-click="edit = false; editData(partyName, description, local.formatted_address, themeVal, doggy, parking, partyDate);"
              class="button-icon icon ion-ios-checkmark">
            </button>
        </div>
      </ion-item>
      <ion-item>
        <div ng-show="!edit" class="item-icon-right manageItem">
            <strong>When The Party At? <br></strong>{{oneParty.partyDate | date: 'short'}}
            <button
              ng-hide="edit"
              ng-click="edit = true"
              class="button-icon icon ion-ios-compose-outline">
            </button>
        </div>
        <div ng-show="edit" class="item-icon-right manageItem">
          <input placeholder= "Pick a Date and Time" ng-model="partyDate" type="datetime-local">
            <button
              ng-click="edit = false; editData(partyName, description, local, themeVal, doggy, parking, partyDate);"
              class="button-icon icon ion-ios-checkmark">
            </button>
        </div>
      </ion-item>
      <ion-item>
        <div ng-show="!edit" class="item-icon-right manageItem">
          <strong>Parking: <br></strong>{{oneParty.parking}}
          <button
            ng-hide="edit"
            ng-click="edit = true"
            class="button-icon icon ion-ios-compose-outline">
          </button>
        </div>
        <div ng-show="edit" class="item-icon-right manageItem">
          <strong>Parking: <br></strong>
          <select ng-model="parking" ng-change='getParking(parking)'>
            <option value="Valet">Valet</option>
            <option value="On Site">On Site</option>
            <option value="Off Site">Off Site</option>
          </select>
          <button
            ng-click="edit = false; editData(partyName, description, local, themeVal, doggy, parking, partyDate);"
            class="button-icon icon ion-ios-checkmark">
          </button>
        </div>
      </ion-item>
      <div class="button-bar goHomeButtonBar">
        <button
          ng-click="goHome();"
          class="button-small button-full addFavorsButton submitFavorsButton">
            Back to Home
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
      <!-- <ion-toggle
        ng-click="themeCheck = !themeCheck"
        ng-checked="oneParty.themeCheck"
        toggle-class="toggle-calm">
        <div
          ng-model="themeCheck"
          ng-class="themeCheck ? 'theme' : 'noTheme'">
          <strong>
            Themed Party?
          </strong>
        </div>
      </ion-toggle>
      <div ng-show="themeCheck" class="item">
        <input ng-model="themeVal" type="text"  placeholder="{{oneParty.theme}}">
      </div>
      <ion-toggle
        ng-checked="oneParty.byob"
        ng-click="byobManageCheck = !byobManageCheck; getByob(byobManageCheck); editData(partyName, description, local, themeVal, doggy, parking, partyDate)"
        ng-model="doggy"
        toggle-class="toggle-calm">
        <div
          ng-model="byobManageCheck"
          ng-class="byobManageCheck ? 'byobManage' : 'suppliedManage'">
          <strong>
            BYOB
          </strong>
        </div>
      </ion-toggle> -->
