<ion-view class="manageParty">
  <ion-nav-bar>
  </ion-nav-bar>
  <div class="bar bar-header">
    <div class="managePartyHeader">
      <h1 class="title-text-wrap"><span class="managePartyHeader">Let's Manage Parties</span></h1>
    </div>
  </div>
   <ion-content class="managePartyContent manageHostedInvites" ng-init="loadInvitedPeople();loadOne();">
     <div class="button-bar">
       <button
         class="button button-small"
         ng-click="showGuestList();loadInvitedPeople();getOneHostedParty();">
        GUEST LIST
       </button>
       <button
         ng-click="showInvite()"
         class="button button-small">
         Invite More
       </button>
     </div>
    <ion-list
      ng-show="showGuestListVar">
      <!-- <ion-item class="invitesSub">
        <div class="row center">
          <div class="col"><h3>Username:</h3></div>
          <div class="col"><h3>RSVP Status:</h3></div>
        </div>
      </ion-item> -->
      <ion-item class ="guestList" ng-repeat="invite in inviteList">
        <div class="row center">
          <div class="col">
            <span id="invName">{{invite.name}}</span>
          </div>
            <span id="invRSVP">{{invite.rsvpStatus}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-list
      ng-show="showInviteVar">
      <div ng-controller="ContactsController">
        <div ng-init="getContactList()">
          <button
            ng-click="pushToContactArray();showConfirm()"
            class="button button-full button-positive">
            SEND INVITES
          </button>
          <ul class="list">
            <ion-checkbox
              ng-repeat="item in contactName | orderBy: 'name'"
              ng-click="isChecked = !isChecked">
              <ion-item
                ng-model="isChecked"
                id="{{item}}"
                ng-class="isChecked ? 'true' : 'false'">
                {{item.name}}
              </ion-item>
            </ion-checkbox>
          </ul>
        </div>
      </div>
    </ion-list>
   </ion-content>
 </ion-view>
