<ion-view>
   <ion-nav-bar class="bar-stable">
     <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
     </ion-nav-back-button>
   </ion-nav-bar>
   <div class="bar bar-header bar-royal">
       <h1 class= "title">Let's Manage Parties</h1>
    </div>
   <ion-content ng-init="loadHostedParties()">

     <ion-list
          can-swipe="listCanSwipe">
      <h3>Parties You Are Hosting</h3>
      <ion-item
        ng-repeat="party in hostedParties"
        class="card"
        ng-model="party"
        ng-click="viewOne(party)">
       <div ui-sref="manageParty({partyID:party.partyID})" class="item item-text-wrap item-icon-right">
         <h3>{{party.partyName}}</h3>
         <p>{{party.partyDate | date: 'short'}}</p>
         <i class="icon ion-chevron-right"></i>
       </div>
       <ion-option-button ng-click="onPartyDelete(party)" class="button-assertive">
         Delete
       </ion-option-button>

     </ion-item>
   </ion-list>

   </ion-content>
 </ion-view>
