<ion-view class="manageParty">
  <ion-nav-bar>
  </ion-nav-bar>
   <div class="bar bar-header">
     <div class="managePartyHeader">
       <h1 class="title-text-wrap"><span class="managePartyHeader"> Let's Manage Parties</span></h1>
     </div>
  </div>
   <ion-content class="managePartyContent" ng-init="loadHostedParties()">
     <ion-list
          can-swipe="listCanSwipe">
      <ion-item
        ng-repeat="party in hostedParties"
        class="card managePartyCard"
        ng-model="party"
        ng-click="viewOne(party)">
       <div ui-sref="manageParty({partyID:party.partyID})" class="item item-text-wrap item-icon-right">
         <h3>{{party.partyName}}</h3>
         <p>{{party.partyDate | date: 'short'}}</p>
         <i class="icon ion-chevron-right"></i>
       </div>
       <ion-option-button ng-click="onPartyDelete(party)" class="button-assertive">
         Delete
       </ion-option-button>
     </ion-item>
   </ion-list>
   </ion-content>
 </ion-view>
