
<ion-view ng-init="loadOneFavor()" class="manageParty">
  <ion-nav-bar>
  </ion-nav-bar>
  <div class="bar bar-header">
    <div class="managePartyHeader">
      <h1 class="title-text-wrap"><span class="managePartyHeader">Let's Manage Favors</span></h1>
    </div>
  </div>
   <ion-content class="managePartyContent" >
     <div class="button-bar">
         <button
           ng-click="goToFavorBrowse();loadOneFavorBrowse();"
           class="button manageButton manageFavor">
           ADD MORE FAVORS
         </button>
      </div>
    <ion-list ng-repeat="item in onePartyFavor" show-delete="data.showDelete">
      <ion-item class="manageItem">
        <span>{{item.favor.favorName}}</span>
        <ion-delete-button
            class="ion-minus-circled"
            ng-click="onItemDelete(item)">
        </ion-delete-button>
        <div ng-show='{{item.claimed}}' class="item">
          Claimed by: {{item.user.username}}
        </div>
      </ion-item>
    </ion-list>
   </ion-content>
 </ion-view>
