<ion-view class="viewParties">
  <ion-nav-bar>
  </ion-nav-bar>
    <div class="bar bar-header">
      <div class="viewPartiesHeader">
        <h1 class= "title-text-wrap"><span class="viewPartiesTextViewHeader">All Your Parties</span></h1>
      </div>
    </div>
    <ion-content>
    <div class= "list">
      <div class="item-text-wrap item-divider">
        <ion-padding>
          <h2><span class="hostHeadCard">Parties You Are Hosting</span></h2>
        <ion-padding>
      </div>
        <div
        ui-sref="manageParty({partyID: party.partyID})"
        ng-repeat="hostParty in hostedParties track by $index"
        class="card"
        ng-model="hostParty"
        ng-click="getOneHostParty(hostParty)">
        <div class= "hostedPartyCard item item-text-wrap">
          <h2>{{hostParty.partyName}}</h2>
          <h3>{{hostParty.partyDate | date: 'short'}}</h3>
        </div>
      </div>
      <div class="item-text-wrap item-divider">
        <ion-padding>
          <h2><span class="hostHeadCard">Parties You Are Invited To</span></h2>
        </ion-padding>
      </div>
      <ion-item
          ui-sref= "invitedParty({partyID: invParty.partyID})"
          ng-repeat= "invParty in invitedParties track by $index"
          ng-model="invParty"
          ng-click="getOneInvParty(invParty)"
          class="card">
          <div class= "invitePartyCard item item-text-wrap item">
            <h2>{{invParty.partyName}}</h2>
            <p>{{invParty.description}}</p>
            <h3>{{invParty.partyDate | date: 'short'}}</h3>
            <h3>{{invParty.local}}</h3>
          </div>
      </ion-item>
  </ion-content>
</ion-view>
