<ion-view class="invitedParty" ng-init="loadOneInvParty()">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
    <h1 class= "title">{{invPartyOne.partyName}}</h1>
  </div>
  <ion-content ng-init="loadOneFavor()">
    <ion-list class="list card">
      <div class="row center">
        <div class="col">
          <ion-item class="item-text-wrap">
            <h2>{{invPartyOne.partyName}}</h2>
          </ion-item>
        </div>
      </div>
      <div class="row center">
        <div class="col">
          <ion-item class="item-text-wrap">
            <strong>Party Stretch Goal: </strong>
            <br>
            {{invPartyOne.stretchName}}
            <br>
            <progress></progress>
          </ion-item>
        </div>
      </div>
      <div class="row center">
        <div class="col">
          <ion-item class="item-text-wrap">
            <p>{{invPartyOne.partyDate | date: 'short'}}</p>
            <p>{{invPartyOne.local}}</p>
          </ion-item>
        </div>
        <div class="col text-right">
         <button
          ng-show="rsvpShowMainBool"
          ng-click="rsvpShow()"
          class="button button-positive">
           RSVP
         </button>
         <div
           ng-click="rsvpShowMain()"
           ng-show="rsvpShowBool">
           <button ng-click="rsvp('Yes')" class="button button-positive">Yes</button>
           <button ng-click="rsvp('No')" class="button button-assertive">No</button>
           <button ng-click="rsvp('Maybe')" class="button button-royal">Maybe</button>
         </div>
        </div>
      </div>
      <div class="row center">
        <div class="col">
          <ion-item class="item-text-wrap">
            <p>{{invPartyOne.description}}</p>
          </ion-item>
        </div>
        <div ng-show="invPartyOne.byob" class="col text-right">
         <button class="button button-assertive">
           {{invPartyOne.byob}}
         </button>
        </div>
      </div>
      <div class="row center">
        <div class="col">
          <ion-item class="item-text-wrap">
            <div ng-hide="invPartyOne.themeCheck" class="noTheme"><p>This <strong>{{invPartyOne.partyType}} Party</strong>  {{invPartyOne.theme}} </p></div>
            <div ng-show="invPartyOne.themeCheck"><p>This <strong>{{invPartyOne.partyType}} Party</strong> party has a theme: <strong>{{invPartyOne.theme}}</strong></p></div>
          </ion-item>
        </div>
        <div class="col text-right">
          <button class="button button-royal">
            Parking: {{invPartyOne.parking}}
          </button>
        </div>
      </div>
    </ion-list>
    <div class="button-bar">
      <button
        class="button button-royal"
        ng-click="showFavor()">
        Favors
      </button>
      <button
        ng-click="showInvite();loadInvitedPeople();"
        class="button button-assertive">
        Invites
      </button>
    </div>
    <ion-list
      ng-model="showFavorVar"
      ng-show="showFavorVar"
      class="list card">
      <ion-item class="item">
        <h2><strong>Help out the party - pick a favor!</strong></h2>
      </ion-item>
      <ion-item
        style="background-color:rgb(87, 218, 100)"
        ng-repeat="favor in onePartyFavor"
        ng-model="favor">
        <div
          style="background-color:rgb(218, 142, 87)"
          ng-click="showFavorConfirm(favor)"
          class="item favorUnclaimed"
          ng-show= "favor.claimed != true">
          <h3>{{favor.favor.favorName}}</h3>
        </div>
        <div
          style="background-color:rgb(95, 154, 120)"
          class="item favorClaimed"
          ng-show="favor.claimed == true">
          <h2><strong>{{favor.favor.favorName}}</strong> Claimed by: {{favor.user.username}}</h2>
        </div>
      </ion-item>
    </ion-list>
    <ion-list
      ng-model="showInviteVar"
      ng-show="showInviteVar"
      class="list card">
      <ion-item>
        <h2><strong>Who's Coming To This Party</strong></h2>
      </ion-item>
      <ion-item
        ng-repeat="invite in inviteList"
        ng-model="invite">
        <div
          class="item"
          ng-click="">
          <h3>{{invite.user.username}}</h3>
          <h2>{{invite.rsvpStatus}}</h2>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
