<ion-view class="wizard">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar">
    <div class="wizardHeader">
      <h1 class= "wizardTextViewHeader">
      <span class="wizardTextViewHeader"><h1>PARTY FAVORS</h1></span>
   </div>
 </div>
  <ion-content>
    <div class="mainIconVic">
      <span class="victorianIcon mainIcon">3<i>z</i>4</span>
    </div>
    <ul class="list">
      <label class= 'favorText item-text-wrap'>
        <span>
        COMMONLY CHOSEN FAVORS FOR YOUR PARTY TYPE:
      </span>
    </label>
    </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input
              ng-model="favorDoo"
              type="text"
              placeholder="Add Your Own">
          </label>
          <button
            style="color: white"
            ng-click="addFavorToData(favorDoo)"
            class="button button-small">
            ADD
          </button>
        </div>
      </div>
      <button
        ng-click="pushToFavorArray()"
        class="button button-full button-assertive">
        <span class="victorianIcon">y</span><span id="submitText">Submit</span><span class="victorianIcon">u</span>
      </button>
      <ion-checkbox
        ng-repeat="item in favors | filter: favorDoo"
        ng-click="favorCheck = !favorCheck">
        <ion-item
          ng-model="favorCheck"
          id="{{item}}"
          ng-class="favorCheck ? 'yes' : 'no'">
          {{item.favorName}}
        </ion-item>
      </ion-checkbox>
    </ul>
  </ion-content>
</ion-view>
