<ion-view class="wizard" ng-init="getContactList()">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
  <div class="bar">
    <div class="wizardHeader">
      <h1 class= "wizardTextViewHeader">
      <span class="wizardTextViewHeader"><h1>INVITE FRIENDS</h1></span>
   </div>
 </div>
  <ion-content>
    <div class="mainIconVic">
      <span class="victorianIcon mainIcon">3<i>z</i>4</span>
    </div>
    <button
      ng-click="pushToContactArray();showConfirm()"
      class="button button-full button-assertive">
      <span class="victorianIcon">y</span><span id="submitText">SEND</span><span class="victorianIcon">u</span>
    </button>
    <ul class="list">
      <ion-checkbox
        ng-repeat="item in contactName | orderBy: 'name'"
        ng-click="isChecked = !isChecked">
        <ion-item
          ng-model="isChecked"
          id="{{item}}"
          ng-class="isChecked ? 'true' : 'false'">
          <!-- {{item}} -->
          {{item.name}}
        </ion-item>
      </ion-checkbox>
    </ul>
  </ion-content>
</ion-view>
