<ion-view class="wizard">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar">
    <div class="wizardHeader">
      <h1 class= "wizardTextViewHeader">
      <span class="wizardTextViewHeader"><h1>STRETCH GOAL</h1></span>
  </div>
</div>
  <ion-padding>
    <ion-content>
      <div class="mainIconVic">
        <span class="victorianIcon mainIcon">3<i>z</i>4</span>
      </div>
      <label class= 'wizStretchExpl item-text-wrap'>
        <span>
          <br>A STRETCHGOAL TURNS THIS PARTY INTO ONE TO REMEMBER!
          <br>
          <br>SET A DREAM-GOAL THAT WILL PUSH THIS PARTY OVER THE EDGE!
          <br>
          <br>ASK YOUR FRIENDS TO CONTRIBUTE AND EVERYONE WILL SEE THE PROGRESS!
          <br>
          <br>
        </span>
          "MY AWESOME GOAL"
          <progress max="200" value="80"></progress>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">STRETCH GOAL: </span>
        <input placeholder="Ice Luge? Oprah? another keg..." ng-model= "stretchName" type="text">
      </label>
      <label class="item item-input item-floating-label">
        <span class= "input-label">COST?</span>
        <input ng-model="stretchGoal" placeholder="How Much?" type="number">{{stretchGoal | currency}}
      </label>
      <button
        ng-click="stretchGoalData(stretchGoal, stretchName)"
        class="bar bar-footer button button-full button-assertive">
        <span class="victorianIcon">y</span><span id="submitText">Submit</span><span class="victorianIcon">u</span>      </button>
    </ion-content>
  </ion-padding>
</ion-view>
