<ion-view class="wizard">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <div class="bar bar-header">
    <div class="wizardHeader">
      <h1 class= "wizardTextViewHeader">
        <span class="wizardTextViewHeader"><h1>SOME EXTRAS</h1></span>
    </div>
  </div>
  <ion-padding>
    <ion-content>
      <div class="mainIconVic">
        <span class="victorianIcon mainIcon">3<i>z</i>4</span>
      </div>
      <label class= 'favorText item-text-wrap'>
        <span>
        ANSWER SOME COMMON QUESTIONS:
      </span>
    </label>
      <label class="item item-input ">
        <span class="item-text-wrap input-label">PARTY DESCRIPTION: </span>
        <input ng-model="description" type="text" placeholder="Description">
      </label>
      <ion-toggle
        ng-click="themeCheck = !themeCheck"
        toggle-class="toggle-royal">
        <div
        ng-model="themeCheck"
        ng-class="themeCheck ? 'theme' : 'noTheme'">
          THEMED PARTY?
        </div>
      </ion-toggle>
      <div ng-show="themeCheck" class="item">
        <input ng-model="themeVal" type="text"  placeholder="Whats the theme?">
      </div>
      <ion-toggle
        ng-click="byobCheck = !byobCheck"
        toggle-class="toggle-royal">
        <div
          ng-model="byobCheck"
          ng-class="byobCheck ? 'byob' : 'supplied'">
            BYOB
        </div>
      </ion-toggle>
      <ion-item class="item-input item-select">
       <div class="input-label">
         PARKING?
       </div>
       <select ng-model="parking" ng-change='getParking(parking)'>
         <option value="Valet">VALET</option>
         <option value="On Site">ON SITE</option>
         <option value="Off Site">OFF SITE</option>
       </select>
     </ion-item>
      <button
        ng-click="partyDeetsPatch(description, themeVal, parking)"
        class="bar bar-footer button button-full button-assertive">
        <span class="victorianIcon">y</span><span id="submitText">Submit</span><span class="victorianIcon">u</span>
      </button>
    </ion-content>
  </ion-padding>
</ion-view>
